.pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: rgb(36, 3, 50);
    padding-top: 20px;
    padding-bottom: 20px; 
}

.pro h1{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.pro h1 span {
    color: yellow;
}